{% macro links(bem_block) %}
  {% set bem_block = bem_block ?: 'social-links' %}
  {% set social_items = {
    'facebook': 'https://www.facebook.com/alexandr.shumchuk',
    'twitter': '#',
    'instagram': 'https://www.instagram.com/sasha_shumchuk/',
    'git': 'https://github.com/newnexy',
  } %}
  <div class="{{ bem_block }}">
    <ul class="{{ bem_block }}__items">
      {% for name, url in social_items %}
        <li class="{{ bem_block }}__item">
          <a href="{{ url }}" class="{{ bem_block }}__link {{ bem_block }}__link--{{ name }}"></a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
